@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wake-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #1D1D1D;
  margin: 0;
}

.light {
  background-color: #EDEDED;
  color: #1D1D1D;
}

.title {
  text-transform: uppercase;
}

.link {
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}

.link-dark {
  color: #1D1D1D;
}

.link-dark:hover {
  opacity: 0.7;
}

.wrap {
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 41px;
  position: relative;
  z-index: 2;
}

.head__phones {
  color: #B0140E;
  margin-left: 6.53%;
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 57%;
  -ms-flex-pack: distribute;
  justify-content: space-between;
}

.menu {
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 387px;
}

.menu__item {
  list-style: none;
  text-transform: uppercase;
  margin-right: 20px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link-left {
  margin-left: 3.61%;
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.menu__link-caret {
  color: #B0140E;
}

.menu--other {
  margin-left: 5.07%;
}

.actual {
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  margin-left: 11.53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.actual__icon {
  margin-top: 5px;
}

.actual__counter {
  background-color: #B0140E;
  font-weight: 400;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  height: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

/* Animation */
.animation {
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  position: absolute;
  top: -100px;
  left: -100px;
  margin: 0;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: -8px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.animation-line {
  height: 105px;
  overflow: hidden;
  position: relative;
}

.animation-line:nth-child(odd) {
  -webkit-transform: skew(55deg, -25deg) scaleY(0.77778);
  -ms-transform: skew(55deg, -25deg) scaleY(0.77778);
  transform: skew(55deg, -25deg) scaleY(0.77778);
}

.animation-line:nth-child(even) {
  -webkit-transform: skew(0deg, -25deg) scaleY(1.33333);
  -ms-transform: skew(0deg, -25deg) scaleY(1.33333);
  transform: skew(0deg, -25deg) scaleY(1.33333);
}

.animation-line:nth-child(1) {
  left: 50px;
}

.animation-line:nth-child(2) {
  left: 100px;
}

.animation-line:nth-child(3) {
  left: 150px;
}

.animation-line:nth-child(4) {
  left: 200px;
}

.animation-line:nth-child(5) {
  left: 250px;
}

.animation-element {
  height: 105px;
  line-height: 125px;
  padding: 0 10px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
  -webkit-animation: go 4s ease-in 3s alternate 2;
  animation: go 4s ease-in 3s alternate 2;
}

@keyframes go {
  0% {
    -webkit-transform: translate3d(0, -105px, 0);
    transform: translate3d(0, -105px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animation:hover p {
  -webkit-transform: translate3d(0, -105px, 0);
  transform: translate3d(0, -105px, 0);
}

.card {
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.card__title {
  color: #4A4A4A;
}

.card__mail {
  font-weight: 300;
}

.card__button {
  animation: wake-up 3s ease-in 5s;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 34px;
  padding: 20px;
  max-width: 270px;
  background-color: #B0140E;
  font-size: 10px;
  font-weight: 700;
  border: none;
}

.card__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card .text {
  margin-right: 30px;
}

.arrow {
  -webkit-transform: rotate(45grad);
  -ms-transform: rotate(45grad);
  transform: rotate(45grad);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 48px;
}

.footer__icon {
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.footer__text {
  opacity: 0;
  animation: show 5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  font-weight: 300;
  font-size: 18px;
}

.more__button {
  position: relative;
  background-color: #B0140E;
  height: 60px;
  width: 60px;
  border: none;
}

.more__button-arrow {
  color: #FFFFFF;
}

.more__button:hover {
  cursor: pointer;
}

.more__button:hover .more__content {
  opacity: 1;
  display: block;
}

.more__content {
  display: none;
  -webkit-transform: rotate(-100grad);
  -ms-transform: rotate(-100grad);
  transform: rotate(-100grad);
  width: 210px;
  margin: 0;
  padding: 20px 0 20px 20px;
  position: absolute;
  right: -75px;
  top: 135px;
}

.more__content .text {
  padding-right: 20px;
}

.section-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}

.section-text {
  width: 50%;
  padding-left: 15px;
}

.section-image {
  position: absolute;
  top: -100px;
  left: -100px;
}

.block {
  margin-top: 66px;
}

.block__title {
  font-size: 38px;
  line-height: 40px;
  max-width: 300px;
  margin: 0;
}

.block__desc {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 300;
}

.block--second {
  margin-top: 82px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 176px;
  position: relative;
}

.box__icon {
  position: absolute;
  right: 481px;
  top: 40px;
}

.box__content {
  color: #B21C16;
  border: 1px solid #D7D7D7;
  max-width: 470px;
  padding: 20px 25px;
}

.box__arrow {
  width: 20px;
  height: 20px;
  border: 1px solid #D7D7D7;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 40px;
  right: 445px;
  background-color: #EDEDED;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 5;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #B0140E;
}

.screen--first {
  -webkit-animation: remove 4s ease-in;
  animation: remove 4s ease-in;
  animation-fill-mode: forwards;
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: #1D1D1D;
  }
}

.screen--second {
  -webkit-animation: move-up 2s ease-in;
  animation: move-up 2s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes move-up {
  0% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.screen--third {
  background-color: #1D1D1D;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: move-up 2s ease-in 2s;
  animation: move-up 2s ease-in 2s;
}

.logo-image {
  position: absolute;
  -webkit-animation: rise 5s ease-in;
  animation: rise 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform-origin: 15% 50%;
}

@keyframes rise {
  0% {
    transform: none;
  }
  100% {
    transform: scale(22);
    opacity: 0.6;
  }
}

.section-image path:nth-child(odd) {
  -webkit-animation: grow-down 4s linear 4s;
  animation: grow-down 3s linear 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@keyframes grow-down {
  0% {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  50% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.section-image path:nth-child(even) {
  -webkit-animation: grow-up 4s linear 4s;
  animation: grow-up 3s linear 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@keyframes grow-up {
  0% {
    -webkit-transform: translate(70px);
    -ms-transform: translate(70px);
    transform: translate(70px);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.section-image path:nth-child(3n+1) {
  -webkit-animation: grow 4s linear;
  animation: grow 3s linear;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 1085px) {
  .animation {
    font-size: 80px;
    left: -56px;
    top: 20px;
  }
  .animation-line {
    height: 80px;
  }
  .animation-element {
    height: 80px;
    line-height: 130px;
  }
  .actual {
    margin-left: 4%;
  }
  .menu--other {
    margin-left: 0;
  }
}
